body{
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

.header, .rodape {
    height: 10vh;
    box-sizing: border-box;
    border: none;
    background-color: rgb(95, 210, 248);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.header a {
    margin: 30px ;
    text-decoration: none;
    color: white;
}

.rodape p{
    color: white;
}

.corpo {
    height: 80vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}