<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastrar Locação</title>
</head>
<body>
    <div class="container">
        <h1>Cadastrar Locação</h1>
        <form method="POST">
            <select name="veiculo_id" required>
                <option value="" disabled selected>Selecione o Veículo</option>
                {% for veiculo in veiculos %}
                    <option value="{{ veiculo['id'] }}">{{ veiculo['modelo'] }} - {{ veiculo['marca'] }} ({{ veiculo['ano'] }})</option>
                {% endfor %}
            </select>
            <select name="cliente_id" required>
                <option value="" disabled selected>Selecione o Cliente</option>
                {% for cliente in clientes %}
                    <option value="{{ cliente['id'] }}">{{ cliente['nome'] }}</option>
                {% endfor %}
            </select>
            <input type="date" name="data_locacao" required>
            <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Voltar</a>
    </div>
</body>
<script>
    // Muda a cor de fundo ao clicar
    document.querySelector('button').addEventListener('click', function() {
        document.body.style.backgroundColor = '#323050'; // Muda para uma cor da paleta
        setTimeout(() => {
            document.body.style.backgroundColor = '#f4f4f4'; // Retorna à cor original
        }, 500); // Tempo em milissegundos
    });
</script>
</html>