<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Lista de Locações</title>
</head>
<body>
    <div class="container">
        <h1>Locações Realizadas</h1>
        <ul>
            {% for locacao in locacoes %}
                <li>Veículo: {{ locacao['modelo'] }} - Cliente: {{ locacao['nome'] }} - Data: {{ locacao['data_locacao'] }}</li>
            {% endfor %}
        </ul>
        <a href="/">Voltar</a>
    </div>
</body>
<script>
    // Muda a cor de fundo ao clicar
    document.querySelector('button').addEventListener('click', function() {
        document.body.style.backgroundColor = '#323050'; // Muda para uma cor da paleta
        setTimeout(() => {
            document.body.style.backgroundColor = '#f4f4f4'; // Retorna à cor original
        }, 500); // Tempo em milissegundos
    });
</script>
</html>