<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Livros</title>
    </head>
    <body>

        <form action="{{url_for('books')}}" method="post">
            <input type="text" name='titulo' placeholder="Título:" >
            <input type="text" name='autor' placeholder="Autor:" >

            <button>Enviar</button>
        </form>
        
    </body>
</html>