<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florista</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Florista</h1>
    <nav>
        <a href="/cadastrar_cliente">Cadastrar Cliente</a>
        <a href="/cadastrar_produto">Cadastrar Produto</a>
        <a href="/cadastrar_compra">Cadastrar Compra</a>  
        <a href="/listar_clientes">Listar Clientes</a>
        <a href="/listar_produtos">Listar Produtos</a>
        <a href="/listar_compras">Listar Compras</a>
    </nav>
</body>
</html>