<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Produtos Cadastrados</h1>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - {{ produto.tipo }} - R$ {{ produto.preco }}</li>
        {% endfor %}
    </ul>
    <a href="/">Voltar</a>
</body>
</html>